<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bz.ins.activity.rank.mapper.ActivityRankMapper">


    <update id="updateRank">
        update t_Activity_Rank set FLastScore = FTotalSCore, FLastModifyTime = now(),
        FTotalSCore = FTotalSCore + #{score, jdbcType = INTEGER}
        where FID = #{id, jdbcType=INTEGER}
    </update>

    <update id="updateRankTax">
        update t_Activity_Rank set FLastScore = FTotalSCore, FLastModifyTime = now(),
        FTotalSCore = FTotalSCore + #{score, jdbcType = INTEGER},
        FMaxQuestionCode = #{maxQuestionCode, jdbcType = INTEGER},
        where FID = #{id, jdbcType=INTEGER}
    </update>

    <select id="getRankList" resultType="com.bz.ins.activity.rank.bo.ActivityRankBo">
        SELECT
	( @rowNum := @rowNum + 1 ) rank,
	ID, totalSCore,userID,lastScore,activity,seasonID,season,userName
    FROM
	(
	SELECT
		t.FID ID,
		t.FTotalSCore totalSCore,
		FUserID userID,
		FLastScore lastScore,
		FActivityID activity,
		FSeasonID seasonID,
		FSeason season,
		FUserName userName,
		(
		SELECT
			count( 1 ) num
		FROM
			t_Activity_JoinRecord t2
		WHERE
			t2.FUserID = userID
		) AS sortC
	FROM
		t_Activity_Rank t
	WHERE
		t.FActivityID = #{activityID,jdbcType=INTEGER}
		AND t.FSeasonID = #{seasonID, jdbcType=INTEGER}
		AND t.FIsDelete = 0
	ORDER BY
		t.FTotalSCore DESC,
		sortC ASC
		LIMIT 100
	) t3,
	( SELECT ( @rowNum := 0 ) ) b

    </select>
    <select id="getUserRank" resultType="java.lang.Integer">
        SELECT COUNT(1) + 1 FROM t_Activity_Rank WHERE
        FTotalScore > #{totalScore, jdbcType=INTEGER}
        AND FActivityID = #{activityID, jdbcType=INTEGER}
        AND FSeasonID = #{seasonID, jdbcType=INTEGER}
        AND FIsDelete = 0
    </select>
    <select id="getUserRankList" resultType="com.bz.ins.activity.rank.bo.ActivityRankBo">
        SELECT
	( @rowNum := @rowNum + 1 ) rank,
	ID,
	totalSCore,
	userID,
	lastScore,
	activity,
	seasonID,
	season,
	userName
FROM
	(
	SELECT
		t.FID ID,
		t.FTotalSCore totalSCore,
		FUserID userID,
		FLastScore lastScore,
		FActivityID activity,
		FSeasonID seasonID,
		FSeason season,
		FUserName userName,
		(
		SELECT
			count( 1 ) num
		FROM
			t_Activity_JoinRecord t2
		WHERE
			t2.FUserID = userID
		) AS sortC
	FROM
		t_Activity_Rank t
	WHERE
		t.FActivityID = #{activityID,jdbcType=INTEGER}
		AND t.FSeasonID = #{seasonID, jdbcType=INTEGER}
		AND t.FIsDelete = 0
		AND t.FTotalScore = #{totalScore, jdbcType=INTEGER}
	ORDER BY
		sortC ASC
	) t3,
	( SELECT ( @rowNum := 0 ) ) b
    </select>
</mapper>